
.idea/.idea.LootGenerator Three Five.dir/.idea/.name
.idea/.idea.LootGenerator Three Five.dir/.idea/encodings.xml
.idea/.idea.LootGenerator Three Five.dir/.idea/indexLayout.xml
.idea/.idea.LootGenerator Three Five.dir/.idea/misc.xml
.idea/.idea.LootGenerator Three Five.dir/.idea/vcs.xml
*.json
*.dll
*.pdb
obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
obj/Debug/net6.0/apphost.exe
*.cache
*.txt
*.editorconfig
*.json
obj/project.assets.json
obj/LootGenerator Three Five.csproj.nuget.dgspec.json
obj/rider.project.restore.info
